04_1.jade
- var lang = "Srb"

doctype html
html(lang="en")
    head
      case lang
        when "Srb"
          include includes/head
        default
          include ../includes/head
      title Humus
    body
      #wrapper
        //- header
        header#header.container-fluid
            case lang
              when "Srb"
                include includes/flags
              default
                include ../includes/flags
            case lang
              when "Srb"
                include includes/logo
              default
                include ../includes/logo
        //- Menu
        case lang
          when "Srb"
            include includes/menu/menu
          default
            include ../includes/menu/menu
        //- Sadržaj
        case lang
          when "Srb"
            include includes/pages/products/dirt
          default
            include ../includes/pages/products/dirt
        //- Footer
        case lang
          when "Srb"
            include includes/footer
          default
            include ../includes/footer
        //- Skripte
        #script
          case lang
            when "Srb"
              include includes/skripts
            default
              include ../includes/skripts
        

04_1.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- charset-->
    <meta charset="utf-8">
    <!-- responsive-->
    <meta content="width=device-width" initial-scale="1.0" name="viewport">
    <!-- font-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <!-- ikonica-->
    <link href="images/logo.png" rel="icon" type="image.ico">
    <!--  css-->
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>Humus</title>
  </head>
  <body>
    <div id="wrapper">
      <header id="header" class="container-fluid"><a href="eng" class="countries"><img src="images/gbr.jpg" alt="Engleski" title="English"></a><a href="ger" class="countries"><img src="images/ger.jpg" alt="Deutsch" title="Deutsch"></a><a href="chn" class="countries"><img src="images/chn.jpg" alt="Chinese" title="中文"></a><a href="index.html" class="headerLogo"><img src="images/logo.png" alt="logo" class="img-responsive"></a>
      </header>
      <nav id="nav" class="navbar">
        <div class="navbar-header">
          <button id="menuButton" type="button" data-toggle="collapse" data-target="#myNavbar" class="navbar-toggle collapsed"><span class="icon-bar menuIcon"></span><span class="icon-bar menuIcon"></span><span class="icon-bar menuIcon"></span>
          </button>
          <!--a.navbar-brand(href="index.html") PDV inženjerng-->
        </div>
        <div id="myNavbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav text-justify">
            <li><a href="index.html" title="Početna" autofocus>Početna</a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" title="O nama" class="dropdown-toggle">O nama <span class = 'caret'></span>
                <ul class="dropdown-menu">
                  <li><a href="01_0.html" title="Delatnost">Delatnost</a></li>
                  <li><a href="01_1.html" title="Kadrovski resursi">Kadrovski resursi</a></li>
                  <li><a href="01_2.html" title="Tehnička opremljenost">Tehnička opremljenost</a></li>
                  <li><a href="01_3.html" title="Sertifikati">Sertifikati</a></li>
                </ul></a></li>
            <li><a href="02.html" title="Vesti">Vesti</a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" title="Usluge" class="dropdown-toggle">Usluge <span class = 'caret'></span>
                <ul class="dropdown-menu">
                  <li><a href="03_0.html" title="Inženjering">Inženjering</a></li>
                  <li><a href="03_1.html" title="Projektovanje">Projektovanje</a></li>
                  <li><a href="03_2.html" title="Bravarsko zavarivački radovi">Bravarsko zavarivački radovi</a></li>
                  <li><a href="03_3.html" title="Grubi građevinski radovi">Grubi građevinski radovi</a></li>
                  <li><a href="03_4.html" title="Završni radovi u građevinarstvu">Završni radovi u građevinarstvu</a></li>
                  <li><a href="03_5.html" title="Termoizolaterski radovi">Termoizolaterski radovi</a></li>
                  <li><a href="03_6.html" title="Skelarski radovi">Skelarski radovi</a></li>
                  <li><a href="03_7.html" title="Antikorozivna zaštita">Antikorozivna zaštita</a></li>
                </ul></a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" title="Proizvodi" class="dropdown-toggle">Proizvodi <span class = 'caret'></span>
                <ul class="dropdown-menu">
                  <li><a href="04_0.html" title="Metalne konstrukcije">Metalne konstrukcije</a></li>
                  <li><a href="04_1.html" title="Nasipna zemlja">Nasipna zemlja</a></li>
                  <li><a href="04_2.html" title="Prirodni šljunak">Prirodni šljunak</a></li>
                </ul></a></li>
            <li><a href="05.html" title="Reference">Reference</a></li>
            <li><a href="06.html" title="Fotogalerija">Fotogalerija</a></li>
            <li><a href="07.html" title="Kontakt">Kontakt</a></li>
            <li class="final"></li>
          </ul>
        </div>
      </nav>
      <div id="content" class="container">
        <div id="dirt">
          <h2>Humus</h2>
          <p class="col-md-6">U ponudi PDV inženjeringa može se naći visoko kvalitetno humusno zemljište. Ovo zemljište  je dobro obezbeđeno lako pristupačnim fosforom i kalijumom i op svojoj ph vrednosti je neutralno sto ga čini idealnim za korišćenje u baštama i voćnjacima.</p>
          <div class="images col-xs-12 col-md-6"><img src="images/products/dirt/dirt1.jpg" alt="Humus">
          </div>
          <div class="images col-xs-12 col-md-6"><img src="images/products/dirt/dirt3.jpg" alt="Humus">
          </div>
          <p class="col-md-6">U industriji ovo zemljište se koristiti kao podloga za proizvodnju u različitim glistenicima ili kao baza za razne mešavine 7 prema 3 za baštensku proizvodnju i 9 prema 1 za voćarstvo i uzgoj cveća takođe nalazi široku primenu u rasadničkoj proizvodnji biljnih kultura.</p>
          <p class="col-md-6">Humusno zemljište koje vam nudi PDV inženjering  koristi se i u sistemima intenzivnog plasteničkog i stakleničkog uzgoja kao dopuna bazičnom zemljištu ili kao samo bazično zemljište.</p>
          <div class="images col-xs-12 col-md-6"><img src="images/products/dirt/dirt6.jpg" alt="Humus">
          </div>
          <div class="images col-xs-12 col-md-6"><img src="images/products/dirt/dirt7.jpg" alt="Humus">
          </div>
          <p class="col-md-6">U građevinarstvu ovakav tip zemljišta je pogodan kako za nasipanje tako i za formiranje zelenih površina</p>
        </div>
      </div>
      <footer id="footer" class="container">
        <div class="col-sm-4">
          <p><img src="images/tel.png" alt = "telefon"> +381 60 313 2565</p>
          <p><img src="images/tel.png" alt = "telefon"> +381 60 313 2575</p>
        </div>
        <div class="col-sm-4">
          <p><img src="images/mail.png" alt = "e-mail"> <a href="mailto:office@pdvinzenjering.rs" target="_top">office@pdvinzenjering.rs</a></p>
          <p><img src="images/mail.png" alt = "e-mail"> <a href="mailto:komercijala@pdvinzenjering.rs" target="_top">komercijala@pdvinzenjering.rs</a></p>
        </div>
        <div class="col-sm-4">
          <p><img src="images/mail.png" alt = "e-mail"> <a href="mailto:proizvodnja@pdvinzenjering.rs" target="_top">proizvodnja@pdvinzenjering.rs</a></p>
          <p><img src="images/mail.png" alt = "e-mail"> <a href="mailto:operativa@pdvinzenjering.rs" target="_top">operativa@pdvinzenjering.rs</a></p>
        </div>
      </footer>
      <div id="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/LinkSrb.js"></script>
        <script src="js/footerFix.js"></script>
        <script src="js/lightbox.js"></script>
      </div>
    </div>
  </body>
</html>
