03-chn/01_3.jade
- var lang = "Chn"
doctype html
html(lang="en")
    head
      case lang
        when "Srb"
          include includes/head
        default
          include ../includes/head
      title PDV inženjering
    body
      #wrapper
        //- header
        header#header.container-fluid
            case lang
              when "Srb"
                include includes/flags
              default
                include ../includes/flags
            case lang
              when "Srb"
                include includes/logo
              default
                include ../includes/logo
        //- Menu
        case lang
          when "Srb"
            include includes/menu/menu
          default
            include ../includes/menu/menu
        //- Sadržaj
        case lang
          when "Srb"
            include includes/pages/Onama/certificates
          default
            include ../includes/pages/Onama/certificates
        //- Footer
        case lang
          when "Srb"
            include includes/footer
          default
            include ../includes/footer
        //- Skripte
        #script
          case lang
            when "Srb"
              include includes/skripts
            default
              include ../includes/skripts
        

01-eng/01_3.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- charset-->
    <meta charset="utf-8">
    <!-- responsive-->
    <meta content="width=device-width" initial-scale="1.0" name="viewport">
    <!-- font-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="../images/logo.png" rel="icon" type="image.ico">
    <!--  css-->
    <link rel="stylesheet" href="../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <title>PDV inženjering</title>
  </head>
  <body>
    <div id="wrapper">
      <header id="header" class="container-fluid"><a href="srb" class="countries"><img src="../images/srb.jpg." alt="Srpski" title="Srpski"></a><a href="ger" class="countries"><img src="../images/ger.jpg" alt="Deutsch" title="Deutsch"></a><a href="chn" class="countries"><img src="../images/chn.jpg" alt="Chinese" title="中文"></a><a href="index.html" class="headerLogo"><img src="../images/logo.png" alt="logo"></a>
      </header>
      <nav id="nav" class="navbar">
        <div class="navbar-header">
          <button id="menuButton" type="button" data-toggle="collapse" data-target="#myNavbar" class="navbar-toggle collapsed"><span class="icon-bar menuIcon"></span><span class="icon-bar menuIcon"></span><span class="icon-bar menuIcon"></span>
          </button>
          <!--a.navbar-brand(href="index.html") PDV inženjerng-->
        </div>
        <div id="myNavbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav text-justify">
            <li><a href="index.html" title="Home" autofocus>Home</a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" title="About us" class="dropdown-toggle">About us <span class = 'caret'></span>
                <ul class="dropdown-menu">
                  <li><a href="01_0.html" title="Activity">Activity</a></li>
                  <li><a href="01_1.html" title="Human resources">Human resources</a></li>
                  <li><a href="01_2.html" title="Technical equipment">Technical equipment</a></li>
                  <li><a href="01_3.html" title="Certificates">Certificates</a></li>
                </ul></a></li>
            <li><a href="02.html" title="News">News</a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" title="Services" class="dropdown-toggle">Services <span class = 'caret'></span>
                <ul class="dropdown-menu">
                  <li><a href="03_0.html" title="Engineering">Engineering</a></li>
                  <li><a href="03_1.html" title="Design">Design</a></li>
                  <li><a href="03_2.html" title="Mounting and welding">Mounting and welding</a></li>
                  <li><a href="03_3.html" title="Building construction">Building construction</a></li>
                  <li><a href="03_4.html" title="Finishing services">Finishing services</a></li>
                  <li><a href="03_5.html" title="Thermal Insulation">Thermal Insulation</a></li>
                  <li><a href="03_6.html" title="Scaffolding">Scaffolding</a></li>
                  <li><a href="03_7.html" title="Corrosion protection">Corrosion protection</a></li>
                </ul></a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" title="Products" class="dropdown-toggle">Products <span class = 'caret'></span>
                <ul class="dropdown-menu">
                  <li><a href="04_0.html" title="Metal structures">Metal structures</a></li>
                </ul></a></li>
            <li><a href="05.html" title="References">References</a></li>
            <li><a href="06.html" title="Photo gallery">Photo gallery</a></li>
            <li><a href="07.html" title="Contact">Contact
                <li class="final"></li></a></li>
          </ul>
        </div>
      </nav>
      <div id="content" class="container">
        <h1 class="headline">Certificates</h1>
        <div class="row">
          <div class="col-sm-3">
            <div class="imgpdf"><img src="../images/certificates/img1.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow"></div>
            <div class="pdf"><a href="../images/certificates/Sertifikat1.pdf" target="blank" class="hover-shadow">Certificate 1.pdf</a></div>
          </div>
          <div class="col-sm-3">
            <div class="imgpdf"><img src="../images/certificates/img2.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow"></div>
            <div class="pdf"><a href="../images/certificates/Sertifikat2.pdf" target="blank" class="hover-shadow">Certificate 2.pdf</a></div>
          </div>
          <div class="col-sm-3">
            <div class="imgpdf"><img src="../images/certificates/img3.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow"></div>
            <div class="pdf"><a href="../images/certificates/Sertifikat3.pdf" target="blank" class="hover-shadow">Certificate 3.pdf</a></div>
          </div>
          <div class="col-sm-3">
            <div class="imgpdf"><img src="../images/certificates/img4.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow"></div>
            <div class="pdf"><a href="../images/certificates/Sertifikat4.pdf" target="blank" class="hover-shadow">Certificate 4.pdf</a></div>
          </div>
        </div>
        <div id="myModal" class="modal"><span onclick="closeModal()" class="close1 cursor">&times;</span>
          <div class="modal-content">
            <div class="mySlides">
              <div class="numbertext">1 / 4</div><img src="../images/certificates/certificate1.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">2 / 4</div><img src="../images/certificates/certificate2.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">3 / 4</div><img src="../images/certificates/certificate3.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">4 / 4</div><img src="../images/certificates/certificate4.jpg" style="width:100%">
            </div><a onclick="plusSlides(-1)" class="prev">&#10094;</a><a onclick="plusSlides(1)" class="next">&#10095;</a>
            <div class="caption-container">
              <p id="caption"></p>
            </div>
            <div class="column"><img src="../images/certificates/img1.jpg" onclick="currentSlide(1)" alt="Certificate 1" class="demo"></div>
            <div class="column"><img src="../images/certificates/img2.jpg" onclick="currentSlide(2)" alt="Certificate 2" class="demo"></div>
            <div class="column"><img src="../images/certificates/img3.jpg" onclick="currentSlide(3)" alt="Certificate 3" class="demo"></div>
            <div class="column"><img src="../images/certificates/img4.jpg" onclick="currentSlide(4)" alt="Certificate 4" class="demo"></div>
          </div>
        </div>
      </div>
      <footer id="footer" class="container">
        <div class="col-sm-4">
          <p><img src="../images/tel.png" alt = "telefon"> +381 60 313 2565</p>
          <p><img src="../images/tel.png" alt = "telefon"> +381 60 313 2575</p>
        </div>
        <div class="col-sm-4">
          <p><img src="../images/mail.png" alt = "e-mail"> <a href="mailto:office@pdvinzenjering.rs" target="_top">office@pdvinzenjering.rs</a></p>
          <p><img src="../images/mail.png" alt = "e-mail"> <a href="mailto:komercijala@pdvinzenjering.rs" target="_top">komercijala@pdvinzenjering.rs</a></p>
        </div>
        <div class="col-sm-4">
          <p><img src="../images/mail.png" alt = "e-mail"> <a href="mailto:proizvodnja@pdvinzenjering.rs" target="_top">proizvodnja@pdvinzenjering.rs</a></p>
          <p><img src="../images/mail.png" alt = "e-mail"> <a href="mailto:operativa@pdvinzenjering.rs" target="_top">operativa@pdvinzenjering.rs</a></p>
        </div>
      </footer>
      <div id="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../js/LinkEng.js"></script>
        <script src="../js/footerFix.js"></script>
        <script src="../js/lightbox.js"></script>
      </div>
    </div>
  </body>
</html>
