01-eng/index.jade
- var lang = "Eng"
doctype html
html(lang="en")
    head
      case lang
        when "Srb"
          include includes/head
        default
          include ../includes/head
      title PDV inženjering
    body
      #wrapper
        //- header
        header#header.container-fluid
            case lang
              when "Srb"
                include includes/flags
              default
                include ../includes/flags
            case lang
              when "Srb"
                include includes/logo
              default
                include ../includes/logo
        //- Menu
        case lang
          when "Srb"
            include includes/menu/menu
          default
            include ../includes/menu/menu
        //- Sadržaj
        case lang
          when "Srb"
            include includes/pages/contact/contactSrb
          when "Eng"
            include ../includes/pages/contact/contactEng
          when "Ger"
            include ../includes/pages/contact/contactGer
          when "Chn"
            include ../includes/pages/contact/contactChn
        //- Footer
        case lang
          when "Srb"
            include includes/footer
          default
            include ../includes/footer
        //- Skripte
        #script
          case lang
            when "Srb"
              include includes/skripts
              script(src = "js/formCheck.js")
            default
              include ../includes/skripts
              script(src = "../js/formCheck.js")
               

03-chn/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- charset-->
    <meta charset="utf-8">
    <!-- responsive-->
    <meta content="width=device-width" initial-scale="1.0" name="viewport">
    <!-- font-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="../images/logo.png" rel="icon" type="image.ico">
    <!--  css-->
    <link rel="stylesheet" href="../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <title>PDV inženjering</title>
  </head>
  <body>
    <div id="wrapper">
      <header id="header" class="container-fluid"><a href="srb" class="countries"><img src="../images/srb.jpg" alt="Srpski" title="Srpski"></a><a href="eng" class="countries"><img src="../images/gbr.jpg" alt="Engleski" title="English"></a><a href="ger" class="countries"><img src="../images/ger.jpg" alt="Deutsch" title="Deutsch"></a><a href="index.html" class="headerLogo"><img src="../images/logo.png" alt="logo"></a>
      </header>
      <nav id="nav" class="navbar">
        <div class="navbar-header">
          <button id="menuButton" type="button" data-toggle="collapse" data-target="#myNavbar" class="navbar-toggle collapsed"><span class="icon-bar menuIcon"></span><span class="icon-bar menuIcon"></span><span class="icon-bar menuIcon"></span>
          </button>
          <!--a.navbar-brand(href="index.html") PDV inženjerng-->
        </div>
        <div id="myNavbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav text-justify">
            <li><a href="index.html" title="主页" autofocus>主页</a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" title="关于我们" class="dropdown-toggle">关于我们 <span class = 'caret'></span>
                <ul class="dropdown-menu">
                  <li><a href="01_0.html" title="活动">活动</a></li>
                  <li><a href="01_1.html" title="人力资源">人力资源</a></li>
                  <li><a href="01_2.html" title="设备">设备</a></li>
                  <li><a href="01_3.html" title="证书">证书</a></li>
                </ul></a></li>
            <li><a href="02.html" title="新闻中心">新闻中心</a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" title="服务" class="dropdown-toggle">服务 <span class = 'caret'></span>
                <ul class="dropdown-menu">
                  <li><a href="03_0.html" title="工程">工程</a></li>
                  <li><a href="03_1.html" title="设计">设计</a></li>
                  <li><a href="03_2.html" title="安装与焊接">安装与焊接</a></li>
                  <li><a href="03_3.html" title="建筑施工">建筑施工</a></li>
                  <li><a href="03_4.html" title="整理服务">整理服务</a></li>
                  <li><a href="03_5.html" title="保温">保温</a></li>
                  <li><a href="03_6.html" title="脚手架">脚手架</a></li>
                  <li><a href="03_7.html" title="防腐蚀">防腐蚀</a></li>
                </ul></a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" title="产品" class="dropdown-toggle">产品 <span class = 'caret'></span>
                <ul class="dropdown-menu">
                  <li><a href="04_0.html" title="金属结构">金属结构</a></li>
                </ul></a></li>
            <li><a href="05.html" title="参考">参考</a></li>
            <li><a href="06.html" title="照相馆">照相馆</a></li>
            <li><a href="07.html" title="联系方式">联系方式</a></li>
            <li class="final"></li>
          </ul>
        </div>
      </nav>
      <div class="container"> 
        <button id="dataButton" type="button" data-toggle="collapse" data-target="#aboutCompany" class="btn btn-info btn-block">Detaljni podaci o firmi <span class = 'caret'></span></button>
        <div id="aboutCompany" class="collapse"> 
          <p class="bold">PDV INŽENJERING D.O.O. VALJEVO-POPUČKE</p>
          <p class="bold">Puno poslovno ime:</p>
          <p>Društvo za inženjering proizvodnju projektovanje izvođenje mašinskih i građevinskih radova, trgovinu i usluge PDV INŽENJERING DOO VALJEVO-POPUČKE</p>
          <p class="bold">Skraćeno poslovno ime:</p>
          <p>PDV INŽENJERING DOO VALJEVO-POPUČKE</p>
          <p class="bold">Sedište:</p>
          <p>Popučke bb, 14221 Valjevo, Srbija</p>
          <p class="bold">Opis delatnosti:</p>
          <p>Inženjerske delatnosti i tehničko savetovanje</p>
          <p class="bold">Šifra delatnosti:</p>
          <p>7112</p>
          <p class="bold">Matični broj:</p>
          <p>21105309</p>
          <p class="bold">Obveznik PDV-a:</p>
          <p>Da</p>
          <p class="bold">Poreski identifikacioni broj (PIB):</p>
          <p>108982282</p>
          <p class="bold">Tekući računi:</p>
          <p>Banca Intesa A.D.: 160-0000000428797-02</p>
          <p>Banca Intesa A.D.: 160-0053900018793-27 - devizni (EUR)</p>
        </div>
        <form id="contact" method="post" action="sendmail.php" name="Kontakt">
          <label for="name">姓名:</label>
          <input id="name" type="name" name="name" placeholder="姓名" required class="form-control">
          <label for="text">公司:</label>
          <input id="text" type="text" name="text" placeholder="公司" required class="form-control">
          <label for="email">邮箱:</label>
          <input id="email" type="email" name="email" placeholder="邮箱" required class="form-control">
          <div class="form-group">
            <label for="message">信息</label>
            <textarea id="message" placeholder="信息" name="message" rows="6" class="form-control"></textarea>
          </div>
          <input id="sendButton" type="submit" value="发送" class="btn btn-info">
        </form>
      </div>
      <footer id="footer" class="container">
        <div class="col-sm-4">
          <p><img src="../images/tel.png" alt = "telefon"> +381 60 313 2565</p>
          <p><img src="../images/tel.png" alt = "telefon"> +381 60 313 2575</p>
        </div>
        <div class="col-sm-4">
          <p><img src="../images/mail.png" alt = "e-mail"> <a href="mailto:office@pdvinzenjering.rs" target="_top">office@pdvinzenjering.rs</a></p>
          <p><img src="../images/mail.png" alt = "e-mail"> <a href="mailto:komercijala@pdvinzenjering.rs" target="_top">komercijala@pdvinzenjering.rs</a></p>
        </div>
        <div class="col-sm-4">
          <p><img src="../images/mail.png" alt = "e-mail"> <a href="mailto:proizvodnja@pdvinzenjering.rs" target="_top">proizvodnja@pdvinzenjering.rs</a></p>
          <p><img src="../images/mail.png" alt = "e-mail"> <a href="mailto:operativa@pdvinzenjering.rs" target="_top">operativa@pdvinzenjering.rs</a></p>
        </div>
      </footer>
      <div id="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../js/LinkChn.js"></script>
        <script src="../js/footerFix.js"></script>
        <script src="../js/lightbox.js"></script>
        <script src="../js/formCheck.js"></script>
      </div>
    </div>
  </body>
</html>
