02-ger/includes/footer.jade
case lang
    when "Srb"
      footer#footer.container
          .col-sm-4
            p
              img(src="images/tel.png" alt = "telefon")
              |+381 61 293 14 90
            p
              img(src="images/tel.png" alt = "Telefon")
              |+381 61 310 48 14
          .col-sm-4
            p
              img(src="images/mail.png" alt = "e-mail")
              a(href="mailto:office@pdvinzenjering.rs" target="_top") office@pdvinzenjering.rs
            p
              img(src="images/mail.png" alt = "e-mail")
              a(href="mailto:komercijala@pdvinzenjering.rs" target="_top") komercijala@pdvinzenjering.rs
          .col-sm-4
            p
              img(src="images/mail.png" alt = "e-mail")
              a(href="mailto:proizvodnja@pdvinzenjering.rs" target="_top") proizvodnja@pdvinzenjering.rs
            p
              img(src="images/mail.png" alt = "e-mail")
              a(href="mailto:operativa@pdvinzenjering.rs" target="_top") operativa@pdvinzenjering.rs
    default
      footer#footer.container
        .col-sm-4
          p
            img(src="../images/tel.png" alt = "telefon")
            |+381 61 293 14 90
          p
            img(src="../images/tel.png" alt = "Telefon")
            |+381 61 310 48 14
        .col-sm-4
          p
            img(src="../images/mail.png" alt = "e-mail")
            a(href="mailto:office@pdvinzenjering.rs" target="_top") office@pdvinzenjering.rs
          p
            img(src="../images/mail.png" alt = "e-mail")
            a(href="mailto:komercijala@pdvinzenjering.rs" target="_top") komercijala@pdvinzenjering.rs
        .col-sm-4
          p
            img(src="../images/mail.png" alt = "e-mail")
            a(href="mailto:proizvodnja@pdvinzenjering.rs" target="_top") proizvodnja@pdvinzenjering.rs
          p
            img(src="../images/mail.png" alt = "e-mail")
            a(href="mailto:operativa@pdvinzenjering.rs" target="_top") operativa@pdvinzenjering.rs

01-eng/includes/footer.html
<footer id="footer" class="container"><div class="col-sm-4"><p><img src="../images/tel.png" alt="telefon"/>+381 61 293 14 90</p><p><img src="../images/tel.png" alt="Telefon"/>+381 61 310 48 14</p></div><div class="col-sm-4"><p><img src="../images/mail.png" alt="e-mail"/><a href="mailto:office@pdvinzenjering.rs" target="_top">office@pdvinzenjering.rs</a></p><p><img src="../images/mail.png" alt="e-mail"/><a href="mailto:komercijala@pdvinzenjering.rs" target="_top">komercijala@pdvinzenjering.rs</a></p></div><div class="col-sm-4"><p><img src="../images/mail.png" alt="e-mail"/><a href="mailto:proizvodnja@pdvinzenjering.rs" target="_top">proizvodnja@pdvinzenjering.rs</a></p><p><img src="../images/mail.png" alt="e-mail"/><a href="mailto:operativa@pdvinzenjering.rs" target="_top">operativa@pdvinzenjering.rs</a></p></div></footer>
